{% extends "base.html" %}
{% load static %}

{% block title %}
Search Results
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}


<div class="search-results">
    {% for ii in results %}
    <div class="search-card">
        <div class="search-img">
            <img src="{{ ii.image.url }}" width="150">
        </div>
        <div class="search-name">
            <h3>{{ ii.name }}</h3>
        </div>

        <div class="product-disc">
                <p>{{ ii.description }}</p>
        </div>

        <div class="search-price">
            <p>₹ {{ ii.price }}</p>
        </div>

        <div class="search-view">
            <a href="{% url 'product_detail' ii.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg></a>
            </a>
        </div>

    </div>
    {% empty %}
    <p class="empty">No products found !</p>
    {% endfor %}
</div>


{% endblock content %}